<form [formGroup]="addNoteForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <textarea class="form-control" formControlName="note" title="Please enter a note"></textarea>
      <p class="alert alert-danger" *ngIf="addNoteForm.get('note').hasError('required') && addNoteForm.get('note').touched">The note is required.</p>
      <p class="alert alert-danger" *ngIf="addNoteForm.get('note').hasError('pattern') && addNoteForm.get('note').touched">The password must contain at least one character.</p>
  </div>
  <div class="row">
    <div class="col-sm text-right"><button class="btn btn-outline-primary" type="submit" [disabled]="!addNoteForm.valid">Add</button></div>
    <div class="col-sm text-left"><a class="btn btn-outline-secondary" (click)="addNoteForm.reset()">Cancel</a></div>
  </div>
</form>